@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&Open+Sans:wght@600&display=swap');

:root {
    --clr-primary-bg: #000;
    --clr-secondary-bg: #f4f4f4;
    --clr-tertiary-bg: #e4dcd1;

    --clr-primary-light: #f4f4f4;
    --clr-secondary-200: #F3EED9;
    --clr-primary-dark: #000;
    --clr-primary-main: #c8ab83;
    --clr-neutral: #333;
    --clr-font-neutral: #555;
    --clr-pop-color: rgb(242, 242, 241);

    --ff-primary: "Poppins", sans serif;
    --ff-accent: 'Roboto', sans serif;
    --ff-title: "Open Sans", sans serif;

}

.light_mode {
    --clr-primary-bg: #f4f4f4;
    --clr-secondary-bg: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.container {
    background: var(--clr-primary-bg);
    overflow: hidden;
    height: 100vh;
}

.header {
    padding: 0 5%;
    margin: 0;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul {
    flex: 1;
    text-align: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.logo {
    width: 15%;

}

nav ul li a {
    color: var(--clr-secondary-bg);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: var(--clr-primary-main);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: ease 1s;
}

nav ul li a:hover::after {
    width: 100%
}

.mode {
    text-align: center;
    padding: 1.5rem 2.5rem;
}

.mode a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-secondary-bg);
    font-weight: 300;

}

/* .hero-container {
    display: flex;
    flex-direction: column;
} */

.content-area {
    text-align: center;
    margin-top: 33%;

}

.container h1 {
    color: var(--clr-secondary-bg);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.content-area p {
    color: var(--clr-secondary-bg);
    line-height: 2.5rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.contact-btn {
    text-decoration: none;
    color: var(--clr-secondary-bg);
    margin-left: 15px;
    text-decoration: underline;
}

.resume-btn {
    background: var(--clr-secondary-bg);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-primary-bg);
    display: inline-block;
    margin: 30px 8px;
    padding: 5px 20px;
    border-radius: 5px;
}

.image-box {
    position: absolute;
    /* width: 50%;
    height: 50%; */
    /* overflow: hidden; */
}

/* .image-box img {
    width: 100%;
    position: absolute;

} */

span {
    color: var(--clr-primary-main)
}

#theme {
    width: 25px;
    cursor: pointer;
    margin: 0px;
}


/* Work Title Sections*/
.work-container {
    height: 100vh;

}

.white {
    background: var(--clr-secondary-bg) url('./Images/Mockup Pics/bg2.png');
}

.sand {
    background: var(--clr-primary-bg) url('./Images/Mockup Pics/bg2.png');
}

.work-title-front {
    font-size: 5.5vw;
    color: var(--clr-primary-main);
    line-height: 100vh;
    cursor: default;
}

.work-title-ux {
    font-size: 5.5vw;
    color: var(--clr-primary-main);
    line-height: 100vh;
    cursor: default;
}



/* Projects Section */

.projects {
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0px 100px;
    background-color: var(--clr-primary-bg);
}

.project:nth-child(2n) {
    flex-direction: row-reverse;
}

.projects-title {
    font-size: 13vh;
    font-family: var(--ff-accent);
    color: var(--clr-neutral);
}

.project {
    display: flex;
    flex-direction: center;
    gap: 100px;
    height: 100vh;
    overflow: hidden;
}

/* .phone {
    position: relative;
} */

.project-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    /* margin-top: 10%; */
}

.project-title {
    font-size: 6vh;
    color: var(--clr-font-neutral);
}

.project-description {
    font-size: 1em;
    color: var(--clr-font-neutral);
    text-align: justify;
    line-height: 40px;
}

.project-button {
    font-size: .8rem;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid var(--clr-font-neutral);
    color: var(--clr-font-neutral);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.project-button:hover.project-button::after {
    transform: translateX(100%);

}

.project-button::after {
    content: "Read now";
    width: 100%;
    height: 100%;
    font-size: .8rem;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-font-neutral);
    color: #222;
}

@media screen and (max-width:1024px) {

    .project {
        flex-direction: column;
    }

    .project:nth-child(2n) {
        flex-direction: column;
    }

    .phone,
    .responsive-website,
    .mobile-app {
        transform: none !important;
    }
}

@media screen and (max-width: 600px) {
    .project-title {
        font-size: 60px;
    }
}